.khLogo img{
    width: 100%;
    height: 50vh;
}

.khLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

.khLogo:hover{
    cursor: default !important;
}


.gXgMna{
    border: none !important;
}

.gXgMna label{
    border: none !important;
}